@model WebApplication.ViewModels.EmployeeSkillVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <h5 class="modal-title">Add Skill to Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.EmployeeId)

        <div class="form-group">
            @Html.LabelFor(model => model.SkillId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.SkillId, Model.Skills, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SkillId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearsExperience, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.YearsExperience, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.YearsExperience, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close
        </button>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i>
            Save
        </button>
    </div>   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
