@model IEnumerable<WebApplication.ViewModels.EmployeeSkillVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWidget.cshtml";
}

<h4>
    Skills
</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsExperience)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsExperience)
            </td>
            <td>
                <button type="button" data-url="@Url.Action("Edit", "EmployeeSkill", new { Id = item.Id })"
                        class="btn btn-default btn-sm btn-open-modal btn-xs" data-toggle="modal" data-target=".bs-example-modal-md">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button" data-url="@Url.Action("Delete", "EmployeeSkill", new { Id = item.Id })"
                        class="btn btn-danger btn-sm btn-open-modal btn-xs" data-toggle="modal" data-target=".bs-example-modal-md">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    }

</table>
<button type="button" data-url="@Url.Action("Create", "EmployeeSkill", new { Id = ViewBag.EmployeeId })"
        class="btn btn-primary btn-open-modal" data-toggle="modal" data-target=".bs-example-modal-md">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Skill
</button>