@model WebApplication.ViewModels.EmployeeVM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:10px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Employee")"> @Html.Controller()</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Html.Action()</li>
        </ol>
    </nav>
</div>
<div class="row">

    <div class="col-sm-6">
        <h4>Are you sure you want to delete this?</h4>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

            </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <a href="@Url.Action("Index", "Employee")" class="btn btn-secondary">
            <i class="fa fa-times"></i>
            No
        </a>

        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i>
            Delete
        </button>

        }

    </div>
</div>